<!DOCTYPE html>
<html>
<head>
  <title>F&uuml;d</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/vendor/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/main.css">
  <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >
</head>
<body>
  <div class="container">

<!-- Header Section -->

    <header>
      <nav class= "logo">
        <img src="images/113165-200.png">
        <img src="images/websitelogo.png" id="fudText">
        <h1>f&uuml;d</h1>
      </nav>
      <nav class= "social">
        Social Media Area
      </nav>
    </header>

<!-- End Header Section -->


    <div class="content">

    <!-- Top Content Section -->

      <div class="content-top">
        <div class="main-image">
        </div>
        <ul class="three-columns">
          <li>
            <h5>Latest News</h5>
            <div class="news column-text"></div>
          </li>
          <li>
            <h5>Today's Specials</h5>
            <div class="special column-text"></div>
          </li>
          <li class="location">
            <h5>Our Location</h5>
            <iframe
              width="600"
              height="450"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBtXJFaIzg436GMO47yZErGYi7ZowXl-F4&q=1600+Pennsylvania+Avenue+Washington+D.C.">
            </iframe>
          </li>
        </ul>
      </div>

    <!-- Bottom Content Section -->
      <div class="content-bottom">
      <div class="left-column">
      <div class="section-headers">
        <div class="border-left"></div>
        <span id='story' class="border">Our Story</span>
        <div class="border-left"></div>
        <span id='menu' class="section-clicked">Menu</span>
        <div class="border-left"></div>
        <span id='reserve' class="border">Reservations</span>
        <div class="border-right"></div>
      </div>
      <section class="our-story hiddensection">
        <p>
          Bacon ipsum dolor amet rump pastrami ribeye kevin swine venison fatback. Turducken pig tenderloin, porchetta short ribs salami shank ribeye landjaeger. Hamburger beef ribs tail frankfurter picanha capicola flank, turducken alcatra short ribs pork chop. Boudin pancetta rump t-bone ball tip. Leberkas rump alcatra strip steak, chuck jowl tail.
        </p>
        <img src="">
        <p>
          Picanha ut drumstick nulla. Jowl pork chop fatback meatball alcatra. Biltong turkey shank irure prosciutto. Andouille occaecat pastrami qui sunt do exercitation landjaeger minim corned beef. Pork chop velit bresaola, fugiat dolore magna pastrami sirloin ham. Short ribs pork belly ham hock ullamco.
        </p>
      </section>
      <section class="menu displayedsection">
        <h2>Appetizers</h2>
        <div class="app"></div>
        <h2>Entrees</h2>
        <div class="ent"></div>
        <h2>Sides a la Carte</h2>
        <div class="sides"></div>

      </section>
      <section class="reservations hiddensection">

      </section>
      </div>
      <div class="right-column">
        <ul><h3>Food Photos</h3>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
      </div>
      </div>
    </div>
    <footer>

    </footer>
  </div>

  <script type="template" id="app-template">
      <div>
        <span><%=  item %></span>
        <span><%=  price %></span>
        <p><%= description %></p>
      </div>
  </script>

    <script type="template" id="ent-template">
      <div>
        <span><%=  item %></span>
        <span><%=  price %></span>
        <p><%= description %></p>
      </div>
  </script>

  <script type="template" id="side-template">
      <div>
        <span><%=  item %></span>
        <span><%=  price %></span>
        <p><%= description %></p>
      </div>
  </script>


  <script src="scripts/vendor/jquery.min.js"></script>
  <script src="scripts/vendor/underscore.min.js"></script>
  <script src="scripts/main.js"></script>

</body>
</html>
