@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
// Header Styling

header{
  height: 200px;
  background-color: #80251d;
  border-bottom: 3px solid #d6d6d6;
}


.container{
@include outer-container;
}
.logo{
  float: left;
  h1{

  }
}
.social{
  float: right;
  width: 250px;
  height: 100px;
  background-color: #F7F7F7;
  text-align: center;
  border-left: 3px solid #d6d6d6;
  border-bottom: 3px solid #d6d6d6;
  border-radius: 10px;
}


// End Header Styling


.content{
   @include outer-container;
   background-color: #3e5e97;
   font-family: 'Yanone Kaffeesatz', sans-serif;
}
.content-top{
 @include outer-container;
 li{
  @include span-columns(4);
  height: 240px;
  background-color: #EBEBEB;
  overflow: scroll;
 }
}
.main-image{

}
.three-columns{
  h5{
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
}
.news{

}
.special{

}
.location{

}
.main-image{
  @include span-columns(12)
}
.three-columns{

}
.content-bottom{
  @include outer-container;
}
.left-column{
  @include span-columns(9);
}
.section-headers{
  margin-top: 20px;
  border-bottom: 1px solid darkgrey;
  span{
    font-size: 20px;
    display: inline-block;
    margin-left: 40px;
    padding-bottom: 5px;
  }
}
.section-clicked{
  border-top: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
  border-bottom: none;
}

.right-column{
  @include span-columns(3);
  ul{
    list-style: none;
  }
  li{
    background-color:#EBEBEB;
  }
}

.hiddensection {
  visibility: hidden;
}

.displayedsection {
  visibility: visible;
}
