// General Styling



html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  background-color: #ffc686; }

header {
  height: 120px;
  background-color: #80251d;
  margin: 0;
  position: relative; }

.headLogo {
  height: 80px;
}

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

.container::after {
  clear: both;
  content: "";
  display: table; }

// Header

.logo {
  float: left; }

.social {
  float: right;
  margin-top: 25px;
  width: 140px;
  height: 70px;
  background-color: #F7F7F7;
  text-align: center;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  font-size: 12px;
  font-style: italic; }

.smIcon {
  width: 25px;
  height: 25px;
  display: inline-block;
  }

.smIcon:hover {
    padding: 1px;
    border: solid black 1px;
  }

// General Body

.content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffedbf;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border: 2px solid black; }

.content::after {
  clear: both;
  content: "";
  display: table; }

.content-top {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px; }

.content-top::after {
  clear: both;
  content: "";
  display: table; }

.content-top li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  height: 240px;
  background-color: #EBEBEB;
  overflow: hidden;
  margin-left: -10px; }

.content-top li:last-child {
  margin-right: 0; }

.three-columns h5 {
  padding-left: 10px;
  border-bottom: 1px solid black; }

.three-columns li {
  border-radius: 5px;
  border: 1px solid #d6d6d6; }

.column-text {
  padding-left: 10px; }

  // Latest News Section

.news span{
  font-size: 16px;
  font-weight: bold;
 }

 .news {
  position: relative;
 }

 .readMore {
  position: absolute;
  top: 157px;
  right: 10px;
  background: #EBEBEB;
  color: black;
 }

 .readMore:hover {
  border-bottom: 1px black solid;
 }

 .postTitle {
  display: inline-block;
  float: left;
  margin-bottom: 13px;
 }

.postDate {
  display: inline-block;
  float: right;
  padding-right: 10px;
 }

 .postContent {
  clear: both;
  overflow: hidden;
  margin-top: 10px;
  margin-right: 10px;
 }

// Daily Special Section

.specialImg {
  width: 265px;
  height: 100px;
  margin-left: 33px;
   }

.specialTitle {
  font-weight: bold;
  display: inline-block;
  margin-left: 10px;
  }

.specialPrice {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

// Location Section

.location {
  text-align: center;
}

.map {
  margin: 0px 0px 0px 0px;
  border: 1px solid #A9A9A9;
}

.address {
  text-align: center;
  font-size: 13px;
  line-height: 0px;
  font-weight: bold;
}

.mapLinks {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 5px 0px 5px;
}

.ML {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.ML:hover {
  border-bottom: black 1px solid;
}

.main-image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }

// beggining of slide
figure {
  border-radius: 20px;
}
.sliderImages {
  width: 1000px;
  height:390px;
  border-radius: 20px;
}

.css-slideshow{
  position: relative;
  height: 370px;
  margin: 2em auto .5em auto;
  border-radius: 20px;
  padding-left: 40px;
}
.css-slideshow figure{
  margin: 0;
  height: 370px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation:xfade 2s infinite;
  // -webkit-animation:xfade 4250ms infinite;
}
figure:nth-child(2) {
  animation: xfade 2s infinite;
  // -webkit-animation:xfade 8500ms infinite;
}
figure:nth-child(3) {
  animation: xfade 2s infinite;
  // -webkit-animation:xfade 17000ms infinite;
}
figure:nth-child(4) {
  animation: xfade 2s infinite;
  // -webkit-animation:xfade 34000ms infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes xfade {
 0%{
    opacity: 1;
  }
  25% {
    opacity:1;
  }
  45% {
    opacity:0;
  }
  65%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

// End of Slide

// food pics


.food-pics {
  padding: 0;
  margin-left: 0;
  text-align: center;
  background-color: #FFEDBF;
}
.foods {
  border-radius: 10px;
}
.foods:hover {
  width: 250px;
  height: 170px;
  cursor: pointer;
}
// end food pics

.main-image:last-child {
  margin-right: 0; }

.content-bottom {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

.content-bottom::after {
  clear: both;
  content: "";
  display: table; }

.left-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }

.left-column:last-child {
  margin-right: 0; }

.left-column section {
  overflow: hidden; }

.section-headers {
  margin-top: 20px; }

.section-headers span {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  padding: 5px;
  padding-bottom: 0px;
  margin-left: -3px;
  margin-right: -3px; }

.section-clicked {
  border-top: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
   }

.border-right {
  border-bottom: 1px solid darkgrey;
  display: inline-block;
  width: 400px;
  margin-bottom: -6px; }

.border-left {
  width: 40px;
  border-bottom: 1px solid darkgrey;
  display: inline-block;
  margin-bottom: -6px; }

.border {
  border-bottom: 1px solid darkgrey; }

.reservations form {
  margin-top: 20px; }

.right-column {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }

.right-column:last-child {
  margin-right: 0; }

.right-column ul {
  list-style: none; }

.right-column li {
  background-color: #EBEBEB; }

// Section Revealed/Hidden Styling

.hiddensection {
  height: 0; }

.menudisplayedsection{
  height: 2000px;
  visibility: visible;
  padding-left: 50px;
}

.displayedsection {
  height: 800px;
  visibility: visible;
  padding-left: 50px; }

// Menu Styling

.menuHeader {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  padding-top: 0px;
  margin-bottom: 0;
  display: block; }

.menuDivider {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border-bottom: 1px solid #555;
  margin-bottom: 25px; }

.menuDivider:last-child {
  margin-right: 0; }

.menuSect {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }

.menuSect::after {
  clear: both;
  content: "";
  display: table; }

.menuTop {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }

.menuTop:last-child {
  margin-right: 0; }

.dishTitle {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 10px 0; }

.dishTitle:last-child {
  margin-right: 0; }

.dottedSpace {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 61.61588%;
  border-bottom: 1px dashed grey;
  height: 16px;
  margin: 20px 0 10px 0; }

.dottedSpace:last-child {
  margin-right: 0; }

.price {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 1.90725%;
  margin-right: 0;
  margin: 20px 0 10px 0;
  text-align: right; }

.price:last-child {
  margin-right: 0; }

.dishDesc {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  display: inline-block;
  float: left; }

.dishDesc:last-child {
  margin-right: 0; }

.menuIcon {
  width: 25px;
  height: 25px;
  display: inline-block;
  float: left;
  margin-top: 13px;
  padding: 3px;
  background-color: #f7f7f7;
  border: #555 solid 1px;
  border-radius: 5px; }

.icon {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 1.90725%;
  display: inline-block;
  float: left; }

.icon:last-child {
  margin-right: 0; }

.iconDiv {
  float: left;
  display: block;
  margin-right: 0;
  width: 1.90725%;
  height: 50px;
  border-left: 1px #555 solid;
  float: left;
  display: inline-block; }

.iconDiv:last-child {
  margin-right: 0; }

.tooltip {
    display: inline;
    position: relative;
}

.tooltipA:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    top: 50px;
    color: #fff;
    content: attr(title);
    right: -20px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 215px;
    height: 30px;
}

// Reservation Form Styling

.formLabel {
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding-bottom: 5px;
}

.fullName {
  width: 350px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #A9A9A9;
}

.guestNum {
  width: 150px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #A9A9A9;
}

.reserveDate {
  width: 150px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #A9A9A9;
}

.specialNotes {
  width: 400px;
  height: 85px;
  border-radius: 3px;
  border: 1px solid #A9A9A9;
}



footer {
  height: 100px;
  border-top: 1px solid darkgrey; }
