@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";

body {
  background-color: #ffc686;
}

// Header Styling
header{
  height: 200px;
  background-color: #80251d;
  border-bottom: 3px solid #d6d6d6;
  margin: 0;
}
#fudText {
  height: 200px;
  text-align: center;
}

.container{
@include outer-container;
}
.logo{
  float: left;
  h1{

  }
}
.social{
  float: right;
  margin: 30px;
  width: 250px;
  height: 100px;
  background-color: #F7F7F7;
  text-align: center;
  border-left: 3px solid #d6d6d6;
  border-bottom: 3px solid #d6d6d6;
  border-radius: 10px;
}



// End Header Styling


.content{
   @include outer-container;
   background-color: #ffedbf;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   border: 2px solid black;
}
.content-top{
 @include outer-container;
 li{
  @include span-columns(4);
  height: 240px;
  background-color: #EBEBEB;
  overflow: scroll;
  padding-right: 50px;
  margin-left: -10px;
 }
}
.main-image{

}
.three-columns{
  h5{
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  li {
    border-radius: 5px;
    border: 1px solid #d6d6d6;
  }
}
.column-text{
  padding-left: 10px;

}
.news{
  h6{
    font-size: 20px;
    text-align: center;
    margin: 5px;
  }
}
.special{
  text-align: center;
}
.location{

}
.main-image{
  @include span-columns(12)
}
.three-columns{

}
.content-bottom{
  @include outer-container;
}
.left-column{
  @include span-columns(9);
  section{
    overflow: hidden;
  }
}
.section-headers{
  margin-top: 20px;
  span{
    font-size: 20px;
    display: inline-block;
    padding:5px;
    padding-bottom: 0px;
    margin-left: -3px;
    margin-right: -3px;
  }
}
.section-clicked{
  border-top: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
  border-radius: 5px;
}
.border-right{
  border-bottom: 1px solid darkgrey;
  display: inline-block;
  width: 400px;
  margin-bottom: -6px;
}
.border-left{
  width: 40px;
  border-bottom: 1px solid darkgrey;
  display: inline-block;
  margin-bottom: -6px;
}
.border{
  border-bottom: 1px solid darkgrey;
}
.right-column{
  @include span-columns(3);
  ul{
    list-style: none;
  }
  li{
    background-color:#EBEBEB;
  }
}

.hiddensection {
  height: 0;
}

.displayedsection {

  height: 1000px;
  visibility: visible;
  padding-left: 50px;

}
// Nick's footer styling
footer{
  height: 100px;
  border-top: 1px solid darkgrey;
}
